.main-picture {
    width: 100%;
    /*background-image: url("../images/contact/home.jpg");
    background-size: cover;*/
    background-color: #fff0ff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #99bbff;
    font-size: 1.7em;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  padding: 20px 50px;
}

.grid-columns { 
  background-color: #fff0ff;
  padding: 20px;
}

.grid-image {
  width:90%;
  margin: auto;
  display: block;
}

h2 {
  text-align: center;
  font-size: xx-large;
}

#wrapper p {
  font-size: 18px;
  text-indent: 30px;
}