
#wrapper {
  display: grid;
  grid-template-areas: "a b"
                       "c c"
                       "e d";
  grid-template-rows: 45% 10% 45%;
  grid-template-columns: 50% 50%;
}

#wrapper > .a {
    grid-area: a;
    
}
#wrapper > .b {
    grid-area: b;
}
#wrapper > .c {
    grid-area: c;
}
#wrapper > .d {
    grid-area: d;
}
#wrapper > .e {
    grid-area: e;
}

.a, .d {
    text-align:center;
}
 .b, .e {
    border-top: 0.5px solid #ccccb3;
    margin: 15px;
}

.container {
    display: none;
}

h1 {
    font-family: Great Vibes, sans-serif;
    font-size: 6em;
    color: hsl(0, 100%, 90%);
    text-align: center;
    margin: 0 auto;
}

h2 {
   text-align:center; 
}

h3 {
    margin: 0;
}

 h2, h3 {
    color: #80aaff;
}
ul {
    margin: 5px;
}

p {
    text-indent: 30px;
    text-align: justify;
    padding: 0 0 15px 0;
}

@media screen and (max-width:414px) {
 
body {
    margin: 15px;
}    
    
     nav {
        display: none;
    }
    
   .container {
       display: block;
   } 
   
   #wrapper {
       display: flex;
    flex-wrap: wrap;
   }
   
   .a img {
       width: 70%;
   }
   
   .d img {
       width: 70%;
   }
   
   h1 {
    font-size: 3em;
}
