html {
    margin:0 auto;
    /*background-color: #e6f2ff;*/
}
body {
    max-width:1200px;
    margin:0 auto;
    font-family: crimson text, serif;
    font-size: 15px;
    
}

header nav {
    margin: 20px 0;
}
header ul {
    display:flex;
    padding: 0;
    list-style-type: none;
    text-align:center;
}

header ul li {
    flex-grow: 1;
    min-height: 30px;
    font-family: arial, sans-serif;
    font-size: 25px;
    background-color: #fff;
    font-family: crimson text, serif !important;
}
li a {
    color: #4da6ff;
    text-decoration: none;
    padding: 0 30px;
    
}
header li a:hover {
    background-color: #66d9ff;
    color: #fff;
}

.container {
    display: none;
}

.logo {
    font-family: Great Vibes, sans-serif;
    font-size: 6em;
    color: hsl(0, 100%, 90%);
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(3, [col] 1fr ) ;
    grid-column-gap: 50px;
    padding: 20px 50px;
    
}
.short-info h5 {
    text-align: center;
    color: #4da6ff;
    font-weight: 900;
}

.short-info p {
    text-indent: 20px;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 10px;
}

.round-img {
    border-radius: 2000px; 
    box-shadow: 0 0 7px #666;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns:50% 50%;
    text-align:center;
}
.grid-itm {
    padding:5px;
    color: #000;
}

.blog-img {
    height: 310px;
    width: 420px;
    display:inline-block;
    margin:auto;
    box-shadow: 0 0 7px #666;
}

h3 {
    text-align: center;
    font-weight: 600;
}

p {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-size: 18px;
    font-weight: 600;
}

button {
    background-color: white; 
    color: #000; 
    border: 2px solid #66d9ff;
}
button:hover {
    background-color: #66d9ff;
}

.jumbotrone {
    margin-bottom: 20px;
}

footer {
    color: #4da6ff;
    font-weight: 600;
    margin: 25px;
}

footer p {
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width:1199px) {
    li a {
    padding: 0;
}

.grid-section {
    margin: 10px;
    grid-column-gap: 10px;
}
.blog-img {
    height: 60%;
    width: 60%;
}
.short-info p {
    margin:0 25px;
}
.short-info h3 {
    margin: 0 15px;
}

p {
    margin: 0 25px;
}
}
@media screen and (max-width:414px) {
    
    nav {
        display: none;
    }
    
   .container {
       display: block;
   } 
    
    .bg-light {
        background-color: none;
    }
    
    .grid {
        display: grid;
        grid-template-columns:100%;
        text-align:center;
    }

    .grid-section {
        grid-template-columns: 100% ;
        margin: 10px;
    }

    .round-img {
        width: 70%;
        margin: 5% 20%;
    }

    .logo {
        font-size: 3em;
    }
    p {
        margin: 0 25px; 
    }


}