h1 {
    font-family: crimson text;
    font-size: 4em;
    color: hsl(0, 100%, 90%);
    text-align: center;
    margin: 0 auto;
}

.container {
    display: none;
}

.grid-team {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 20% 20% 10%;
    text-align:center;
    padding: 0;
    margin: 0;
   
}
.grid-item-team {
    padding: 10px;
    border-top: 0.5px solid #ccccb3;
}

.grid-item-team:nth-of-type(even) {
    background: none;
}
.profession {
    text-align:center;
    font-style: !important;
}
.grid-item-team img {
    width: 100%;
    display: block;
    margin: auto;
}

.grid-item-team p {
    font-size: 16px;
}

@media screen and (max-width:1199px) {
    li a {
    padding: 0;
}

@media screen and (max-width:414px) {
  .grid-team {
    display: grid;
    grid-template-columns:100%;
    text-align:center;
    }
    
    nav {
        display: none;
    }
    
   .container {
       display: block;
   } 
    
    .grid-item-team:nth-of-type(1) {
        order: 1;
    }
    
    .grid-item-team:nth-of-type(2) {
        order: 2;
    }
    
    .grid-item-team:nth-of-type(3) {
        order: 4;
    }
    
    .grid-item-team:nth-of-type(4) {
        order: 3;
    }
    
    .grid-item-team:nth-of-type(5) {
        order: 5;
    }
    
    .grid-item-team:nth-of-type(6) {
        order: 6;
    }
    
    .grid-item-team:nth-of-type(7) {
        order: 8;
    }
    
    .grid-item-team:nth-of-type(8) {
        order: 7;
    }
    
}

